#quiz, .show-results, #restart, .results, #end {
  display: none;
  text-align: center;
}

.question, .answers {
  display: block;
  text-align: center;
}

.show-results {
  text-align: center;
  font-size: 50px;
}

.restart-button {
  text-align: center;
}

.row {
  text-align: center;
  border: solid 1px grey;
  padding-bottom: 100px;
}

.js-answer {
  margin-bottom: 50px;
}

header {
  font-size: 50px;
}

.js-next, #start {
  margin-bottom: 2em;
  margin-top: 2em;
}
